@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.btn-outline-primary {
    padding: 10px 20px;

}

.header {
    background-color: royalblue;
    padding: 20px;
    text-align: center;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addBtn {
    background-color: aliceblue;
    color: dark;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addBtn:hover {
    background-color: skyblue;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #0075ff;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.close {
    color: white;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}






#regForm {
  background-color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the input fields */
input {
    font-family: 'Bebas Neue', sans-serif;
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
  margin-bottom: 15px;
}

/* Mark input boxes that get an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  font-family: 'Bebas Neue', sans-serif;
  width: 15px;
  margin: 0 2px;
  background-color: #3498db; /* Blue color */
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* Added space on the sides */
@media (min-width: 768px) {
  #regForm {
    width: 50%;
  }
}



#prevBtn,
  #nextBtn {
    background-color: #3498db; /* Blue color */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Make them more rounded */
    cursor: pointer;
    margin-right: 10px;
  }

  #prevBtn:hover,
  #nextBtn:hover {
    background-color: #2980b9; /* Darker blue color on hover */
  }








.error {
    color: red;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}


.counter {
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

.counter-label {
    font-weight: bold;
    margin-right: 10px;
}

.count {
    font-size: 24px;
    color: #007BFF; 
}
.register-button {
    background-color: #007BFF;
    color: #fff; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3; 
}
/* CSS анимация для фото одежды */
@keyframes sway {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* Применение анимации к фото одежды */
#clothingImage {
    margin-left: -50px;
    animation: sway 3s linear infinite; /* Длительность 4 секунды, бесконечное повторение */
}
