@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.card {
    transition: all 0.3s;
}



.forma{
    margin-left: auto;
    margin-right: auto;
    align-items: center; 
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.custom-table {
    width: 50%; 
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
.custom-table th, .custom-table td {
    padding: 5px;
    text-align: left;
}





#feedbackForm {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        #feedbackForm input[type="text"], #feedbackForm textarea {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        #feedbackForm button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        #feedbackForm button:hover {
            background-color: #045bff;
        }
        #feedbackList {
            list-style-type: none;
            padding: 0;
        }
        .feedback {
            padding: 10px;
            border: 1px solid #ccc;
            margin: 5px 0;
            background-color: #f9f9f9;
        }



#floating-popup {
    position: fixed;
    top: 25%;
    left: 98%;
    transform: translate(-100%, -50%);
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#close-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

#close-button:hover {
    background-color: #045bff;
}
