@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', sans-serif;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: #0D47A1;
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    float: none;
    margin-right: 100px;
}
.osnova{
    text-align: center;
    font-size: 1.2em
}
.tableta{
    text-align: center;
}
.btn{
    background-color: royalblue; 
    color: white; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.AdVideo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Paraph{
    padding-left: 50px;
    padding-right: 50px;
}
.tablica {
    width: 700px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
.tablica table {
    border-collapse: collapse; 
}
.tablica td, .tablica th {
    border: 1px solid lightgray; 
    padding: 8px; 
    text-align: left; 
}
.tablica th {
    background-color: lightgray; 
}




/* Общий стиль для кнопок */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #045bff;
}

.tab-content {
    color: darkblue;
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px; /* Максимальная ширина для контента */
    margin: 0 auto; /* Центрирование контента по горизонтали */
}

/* Обновленные стили для аккордеонов */
.accordion {
    margin: 10px 0;
    width: 100%;
    max-width: 400px; /* Максимальная ширина для контента */
}

.accordion-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.accordion-button:hover {
    background-color: #045bff;
}
.accordion-content {
    display: none;
    color: darkblue;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
}
